#formLogin{
  padding-top: 10px;
background-image: url('../../img/wallpaper_deg3.png');
}
.wellcome-content{
  margin-left: 10%;
}

.getstart {
background-image: url('../../img/wallpaper_deg3.png');
background-repeat: no-repeat;
background-size:cover;
}

.background-button{
  //background-image: url('../../img/wallpaper_deg3.png');
  background-color: transparent !important;
}


.scanear-button{
  border-radius: 25px;
  border: 2px solid #D3D3D3;
  padding: 20px;
  width: 200px;
  margin-left: 10%;
//  height: 150px;
  //background-color: transparent;
}
